.container{
    /* border: 1px solid rgb(57, 57, 57); */
    box-shadow: 0 0 15px rgb(44, 44, 44);
    padding: 2rem 1rem;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.774);
  }
  .title{
    /* margin-bottom: 2rem; */
    text-transform: uppercase;
    padding-top: 1rem;
  }
  .column{
    width: 440px;
    background-color: red; 
  }
  .input-tracker{
    width: 350px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: rgba(41, 44, 44, 0.15);
    padding: 5px;
    padding-left: 1rem;
  }
  .input-tracker::placeholder{
    color: rgba(0, 0, 0, 0.728);
  }
  
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 79%;               
    background-color:#000000;
    height: 1px;
  }
  label{
    text-align: left;
    align-self: flex-start;
    padding-left: 2.7rem;
  }
  
  .add-tracker{
    padding: 8px;
    font-size: 1.15rem;
    background-color: rgba(0, 98, 255, 0.92);
    border: none;
    cursor: pointer;
    color: white;
    width: 350px;
  }
  .add-tracker:hover{
    transform: scale(99%);
    /* font-size: 1.19rem; */
    transition: .2s;
  }
  .item-tracker{
    width: 90%;
    justify-content: space-between !important;
    background-color: #00000023;
    font-weight: 200;
    padding: 0 5px;
  }
  
  .kanta{
    width: 20px;
  }
  .kanta:hover{
      transform: scale(113%);
      transition: 0.1s;
      cursor: pointer;
  }
  .space{
    width: 78%;
    justify-content: space-between !important;
  }
  .kurs{
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
  }
  
  
  .remove-tracker{
    position: absolute;
    top: 0px;
    right: -2rem;
    width: 27px;
    cursor: pointer;
  }
  .remove-tracker:hover{
    transform: scale(113%);
    transition: 0.1s;
    cursor: pointer;
  }
  .currency{
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    cursor: pointer;
    color: #00000052;
  }
  .active{
    color: black;
    transform: scale(103%);
    transition: 0.1s;
  }
  .inputValuta{
    position: absolute;
    bottom: 5px;
    right: 3.1rem;
    color: #0000007a;
  }

  .trans-history{
    max-height: 120px;
    overflow-y: hidden;

  }
  .history-items{
    width: 370px;
    overflow-y: auto;
    position: relative;
    left: 20px;
  }
  .history-items::-webkit-scrollbar {
    width: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .history-items::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.716);
    border-radius: 3px;
  }
  
  .history-items::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .history-items::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  

  @media (max-width:500px){
    .container{
      width: 97vw;
      padding: 1.5rem 1rem 0.8rem 1rem;
    }
    .column{
      /* width: 85vw; */
    }
    input {
      width: 70vw;
    }
    .add-tracker{
      width: 73%;
      padding: 6px ;
    }
    .input-tracker{
      width: 87vw;
      font-size:1rem ;
      padding: 4px 7px;
    }
    label{
      font-size: 1rem;
    padding-left: 1.7rem;
    }
    .add-tracker{
      padding: 8px;
      font-size: 1rem;
      width: 270px;
    }
    .item-tracker{
      width: 82%;
      padding: 0 8px;
      position: relative;
      left: 1rem;
    }
    .history-items{
      width: 370px;
      gap: 4px;
    }
    .trans-history{
      overflow-x: hidden;
    }
  }