@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&family=Poppins&display=swap');

.fancy-font{
    font-family: 'Eczar', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fade-right-start {
  right: -100%;
  transition: right 0.5s ease-out;
}

@keyframes slide-in {
  from { right: -100%; }
  to { right: 0; }
}

/* Animation for closing the sidebar */
@keyframes slide-out {
  from { right: 0; }
  to { right: -100%; }
}
@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.slide-in-top {
  animation: slide-in-top 0.15s ease-in-out;
}
.faq{
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  height: 50px;
}
.faq-open{
  height:100px;
}
/* Apply the animations */
.fade-right-open {
  animation: slide-in 0.3s ease-out;
  right: 0;
}

.fade-right-close {
  animation: slide-out 0.5s ease-out;
  right: -100%;
}
.polukrug{
  border-radius: 50% 0 0 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin{
  animation: spin 5s linear infinite;
}

.active-link{
  opacity: 100;
  color: black;
}